<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Evaluate Day</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>BlackAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlackAppIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>DarkAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>DarkAppIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>OrangeAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OrangeAppIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>BlackAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlackAppIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>DarkAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>DarkAppIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>OrangeAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OrangeAppIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.4</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb184140535498012</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>evaluateday</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>5255</string>
	<key>CSBuild</key>
	<string>5670</string>
	<key>CSDemo</key>
	<true/>
	<key>CSSandbox</key>
	<false/>
	<key>CSTest</key>
	<false/>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string></string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>branch_key</key>
					<string></string>
				</dict>
				<key>KitName</key>
				<string>Branch</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>184140535498012</string>
	<key>FacebookDisplayName</key>
	<string>Evaluate Day App</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>twitter</string>
		<string>twitterauth</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Make photos right from the application without distracting from keeping your day</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Unlock Evaluate Day</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Mark the locations where you evaluate your day</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save photos from the Evaluate Day</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Add your photos in the Evaluate Day</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Evaluate</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
