<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Evaluate Day</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-10</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-10</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-11</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-11</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-7</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-7</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-8</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-8</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-9</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-9</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-10</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-10</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-11</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-11</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-7</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-7</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-8</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-8</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-9</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-9</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.2.6</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb184140535498012</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>evaluateday</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>6749</string>
	<key>CSBuild</key>
	<string>7270</string>
	<key>CSDemo</key>
	<true/>
	<key>CSSandbox</key>
	<true/>
	<key>CSTest</key>
	<false/>
	<key>FacebookAppID</key>
	<string>184140535498012</string>
	<key>FacebookDisplayName</key>
	<string>Evaluate Day App</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>twitter</string>
		<string>twitterauth</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Make photos right from the application without distracting from keeping your day</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Unlock Evaluate Day</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Attach data from Apple Health to your card</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Share health data from the card to the Apple Health</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Mark the locations where you evaluate your day</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save photos from the Evaluate Day</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Add your photos in the Evaluate Day</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Evaluate</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
